uvicorn[standard]
gunicorn
pydantic
fastapi
requests 
SQLAlchemy
SQLAlchemy-Utils
# psycopg2-binary # if you want to install localy withut docker 
psycopg2 #if you want to install localy withut docker 
alembic 
python-jose 