*.pyc
.env/*
.env
launch.jsonc
.DS_Store

frontend/angular_fuse/.angular/
frontend/angular_fuse/node_modules/
frontend/frontend_angular_app/.angular/cache/
frontend/frontend_angular_app/node_modules/
frontend/frontend_angular_app/dist/
DeployToAWSsTsteps.txt
FAST NOTE.txt
.vscode/launch.json


frontend/frontend_app_main/
backend/auth_app/app/api/USERS_Entities/user_Media/
